   body {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #f9f9f9;
        margin-top: 100px; /* Espaço para o cabeçalho */
    }

    #produtos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
       box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adicionado para sombra */
    }

    .card img {
        max-width: 100%;
        border-radius: 4px;
        display: block;
        margin: auto;
    }

    .card-title {
        font-size: 1.2em;
        margin: 0 0 10px;
    }

    .card-text {
        margin: 0;
    }

    @media(min-width: 768px) {
        .card {
            width: calc(33.333% - 20px);
        }
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .btn {
        padding: 10px 20px;
        background-color: #008CBA;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #contador {
        margin-left: 10px;
        background-color: #a80303;
        color: #fff;
        border-radius: 50%;
        padding: 5px 10px;
    }

    #detalhesCarrinho {
        display: none;
    }

    #header.ativo #detalhesCarrinho {
        display: block;
    }
 .instrucoes {
        background-color: #e0f7fa;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        font-size: 1em;
    shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adicionado para sombra */
    }
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.modal-content {
    max-height: 80vh;  /* Altura máxima de 80% da altura da viewport */
    overflow-y: auto;  /* Habilitar rolagem vertical automática quando necessário */
    background-color: #fefefe;
    margin: -5% 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px; /* Adicionado para bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adicionado para sombra */
    padding-bottom: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* CSS adicionado para mostrar o modal */
.modal.show {
    display: block;
    opacity: 1;
}

.product-line {
    font-size: 0.9em;
    color: #555;
    margin: 0 0 10px;
}

.btn-info {
    background-color:  #ed6415; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 5px 5px; /* Padding */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão */
    text-align: center; /* Alinhamento de texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Display inline-block */
    font-size: 12px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    transition-duration: 0.2s; /* Transição suave */
}
 
.popup {
    display: none;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f81fff;
    color: black;
    padding: 10px;
    border-radius: 8px;
    z-index: 1002;
}

.popup.show {
    display: block;
}
.btn-clear {
    padding: 2px 8px;  /* Padding pequeno */
    background-color: red;  /* Cor de fundo vermelha */
    color: white;  /* Cor do texto branca */
    border: none;  /* Sem borda */
    border-radius: 4px;  /* Borda arredondada */
    cursor: pointer;  /* Cursor do tipo pointer ao passar o mouse */
}


/* Efeito de hover para o botão */
.btn-clear:hover {
    background-color: darkred;  /* Cor de fundo mais escura ao passar o mouse */
}

   

.btn-filtrar {
    margin-top: 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    background-image: linear-gradient(45deg, #FF0000, #FF7F00, #FFFF00, #7FFF00, #00FF00, #00FF7F, #00FFFF, #007FFF, #0000FF, #7F00FF, #FF00FF, #FF007F);
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.linha-separadora {
    width: 80%;  /* Define uma largura */
    margin-left: auto;  /* Centraliza horizontalmente */
    margin-right: auto;  /* Centraliza horizontalmente */
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;  
    border-radius: 10px;  
    text-align: center;  
    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);  /* Gradiente de cor para efeito 3D */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),  /* Sombra externa */
                inset 0 4px 8px rgba(255, 255, 255, 0.5),  /* Sombra interna na parte superior */
                inset 0 -4px 8px rgba(0, 0, 0, 0.1);  /* Sombra interna na parte inferior */
}

.nome-linha, .saiba-mais {
    display: block;
}


.saiba-mais {
    cursor: pointer;
    color: blue;
}



